<html lang="en">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="NC Tech | Portal Endomarketing">
  <meta name="author" content="">

  <head>
    <title>NC Tech | Portal Endomarketing</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/4.0.0-alpha.1/css/bootstrap-switch.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/4.0.0-alpha.1/js/bootstrap-switch.js"></script>
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
      crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>
    <style>
      @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

      .social-btns {
        font-size: 22px;
        list-style: none;
      }

      .social-btns li {
        margin-bottom: 5px;
      }

      .social-btns li i {
        font-size: 22px;
      }

      .social-btns .btn-facebook {
        background-color: #38519f;
        border-color: #293b75;
        color: #ffffff;
        min-width: 250px;
      }

      .social-btns .btn-facebook:hover {
        color: #ffffff;
        background-color: #293b75;
      }

      .social-btns .btn-twitter {
        background-color: #00a8fa;
        border-color: #048cce;
        color: #ffffff;
        min-width: 250px;
      }

      .social-btns .btn-twitter:hover {
        color: #ffffff;
        background-color: #048cce;
      }

      .social-btns .btn-linkedin {
        background-color: #00629e;
        border-color: #044a75;
        color: #ffffff;
        min-width: 250px;
      }

      .social-btns .btn-linkedin:hover {
        color: #ffffff;
        background-color: #044a75;
      }

      .social-btns .btn-google {
        background-color: #df270b;
        border-color: #a01b03;
        color: #ffffff;
        min-width: 250px;
      }

      .social-btns .btn-google:hover {
        color: #ffffff;
        background-color: #a01b03;
      }

      .social-btns .btn-tumblr {
        background-color: #274665;
        border-color: #182b3d;
        color: #ffffff;
        min-width: 250px;
      }

      .social-btns .btn-tumblr:hover {
        color: #ffffff;
        background-color: #182b3d;
      }

      .social-btns .btn-pinterest {
        background-color: #cc0000;
        border-color: #9b0404;
        color: #ffffff;
        min-width: 250px;
      }

      .social-btns .btn-pinterest:hover {
        color: #ffffff;
        background-color: #9b0404;
      }

      body>.ui-pnotify {
        position: fixed;
        z-index: 100040
      }

      body>.ui-pnotify.ui-pnotify-modal {
        z-index: 100042
      }

      .ui-pnotify {
        position: absolute;
        height: auto;
        z-index: 1;
        display: none
      }

      .ui-pnotify.ui-pnotify-modal {
        z-index: 3
      }

      .ui-pnotify.ui-pnotify-in {
        display: block
      }

      .ui-pnotify.ui-pnotify-initial-hidden {
        display: block;
        visibility: hidden
      }

      .ui-pnotify.ui-pnotify-move {
        transition: left .5s ease, top .5s ease, right .5s ease, bottom .5s ease
      }

      .ui-pnotify.ui-pnotify-fade-slow {
        transition: opacity .4s linear;
        opacity: 0
      }

      .ui-pnotify.ui-pnotify-fade-slow.ui-pnotify.ui-pnotify-move {
        transition: opacity .4s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease
      }

      .ui-pnotify.ui-pnotify-fade-normal {
        transition: opacity .25s linear;
        opacity: 0
      }

      .ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move {
        transition: opacity .25s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease
      }

      .ui-pnotify.ui-pnotify-fade-fast {
        transition: opacity .1s linear;
        opacity: 0
      }

      .ui-pnotify.ui-pnotify-fade-fast.ui-pnotify.ui-pnotify-move {
        transition: opacity .1s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease
      }

      .ui-pnotify.ui-pnotify-fade-in {
        opacity: 1
      }

      .ui-pnotify .ui-pnotify-shadow {
        -webkit-box-shadow: 0px 6px 28px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 6px 28px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 6px 28px 0px rgba(0, 0, 0, 0.1)
      }

      .ui-pnotify-container {
        background-position: 0 0;
        padding: .8em;
        height: 100%;
        margin: 0
      }

      .ui-pnotify-container:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both
      }

      .ui-pnotify-container.ui-pnotify-sharp {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0
      }

      .ui-pnotify-title {
        display: block;
        white-space: pre-line;
        margin-bottom: .4em;
        margin-top: 0
      }

      .ui-pnotify.ui-pnotify-with-icon .ui-pnotify-title,
      .ui-pnotify.ui-pnotify-with-icon .ui-pnotify-text {
        margin-left: 24px
      }

      [dir=rtl] .ui-pnotify.ui-pnotify-with-icon .ui-pnotify-title,
      [dir=rtl] .ui-pnotify.ui-pnotify-with-icon .ui-pnotify-text {
        margin-right: 24px;
        margin-left: 0
      }

      .ui-pnotify-title-bs4 {
        font-size: 1.2rem
      }

      .ui-pnotify-text {
        display: block;
        white-space: pre-line
      }

      .ui-pnotify-icon,
      .ui-pnotify-icon span {
        display: block;
        float: left
      }

      [dir=rtl] .ui-pnotify-icon,
      [dir=rtl] .ui-pnotify-icon span {
        float: right
      }

      .ui-pnotify-icon-bs3>span {
        position: relative;
        top: 2px
      }

      .ui-pnotify-icon-bs4>span {
        position: relative;
        top: 4px
      }

      .ui-pnotify-modal-overlay {
        background-color: rgba(0, 0, 0, .4);
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2
      }

      body>.ui-pnotify-modal-overlay {
        position: fixed;
        z-index: 100041
      }
    </style>
  </head>

  <body class="page-body">
    <div class="page-container ng-scope">
      <div id="gral" class="ng-scope">
        <div class="cont100">
          <div class="row">
            <div class="col-md-12">
              <div id="logotipo" class="float-right">
                <img src="https://firebasestorage.googleapis.com/v0/b/intranet-10d95.appspot.com/o/assets%2Flogo-cabecera.png?alt=media&token=2d197f6d-6d72-495f-b820-8816ad1c277b">
                <span>Portal Endomarketing</span>
                <div class="subsub">Portal Endomarketing</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="frase">Impulsando el desempeño productivo para empresas e instituciones educativas.</div>
          </div>
          <div class="row">
            <div class="col-md-4">.</div>
            <div class="col-md-4">
              <div id="entrar">
                <div class="container">
                  <div class="row">
                    <ul class="social-btns center-block">
                      <li>
                        <button class="btn btn-google" onClick="javascript:iniciarSesion();">
                          <i class="fab fa-google"></i> Iniciar sesion con Google</button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">.</div>
          </div>
        </div>
      </div>

      <div class="modal ng-scope" tabindex="-1" role="dialog" id="entorno">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="col-sm-12 text-center">
                <h3 class="modal-title" id="modal-title">Selecciona el entorno para probar</h3>
              </div>
            </div>
            <div class="modal-body" id="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="label-control">Enque entorno te gustaria probar?</label>
                    <br/>
                    <select class="form-control" placeholder="Selecciona uno" id="areaPolitica">
                      <option disabled selected>Selecciona una opción</option>
                      <option>DESAROLLO</option>
                      <option>CALIDAD</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-sm btn-success" ng-click="sendForgetPassword()"> INICIAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
  function iniciarSesion() {
    var provider = new firebase.auth.GoogleAuthProvider();
    provider.addScope('profile');
    provider.addScope('email');
    provider.addScope('https://www.googleapis.com/auth/plus.me');
    provider.setCustomParameters({
    'hd': 'nctech.com.mx'
    });
    firebase.auth().signInWithPopup(provider);
  }

  firebase.auth().onAuthStateChanged(user => {
    console.log(user);
    if (user) {
      // User is signed in.
      console.log(user.metadata.lastSignInTime);
      var database = firebase.database();
      var objeto = {
        nombre: user.displayName,
        correo: user.email,
        foto: user.photoURL,
        uid: user.uid,
        ultimaSesion: moment(user.metadata.lastSignInTime).format('L'),
        estatus: "Activo"
      }
      var ref = database.ref("usuarios").child(user.uid);
      ref.update(objeto)
      setTimeout(function () {
        window.location.href = "/"
      }, 1000)
    } else {
      console.log("no logueado");
    }
  });
</script>