<html lang="en" ng-app="nectech-app" class="ng-scope fontawesome-i2svg-active fontawesome-i2svg-complete"><head><style type="text/css">svg:not(:root).svg-inline--fa{overflow:visible}.svg-inline--fa{display:inline-block;font-size:inherit;height:1em;overflow:visible;vertical-align:-.125em}.svg-inline--fa.fa-lg{vertical-align:-.225em}.svg-inline--fa.fa-w-1{width:.0625em}.svg-inline--fa.fa-w-2{width:.125em}.svg-inline--fa.fa-w-3{width:.1875em}.svg-inline--fa.fa-w-4{width:.25em}.svg-inline--fa.fa-w-5{width:.3125em}.svg-inline--fa.fa-w-6{width:.375em}.svg-inline--fa.fa-w-7{width:.4375em}.svg-inline--fa.fa-w-8{width:.5em}.svg-inline--fa.fa-w-9{width:.5625em}.svg-inline--fa.fa-w-10{width:.625em}.svg-inline--fa.fa-w-11{width:.6875em}.svg-inline--fa.fa-w-12{width:.75em}.svg-inline--fa.fa-w-13{width:.8125em}.svg-inline--fa.fa-w-14{width:.875em}.svg-inline--fa.fa-w-15{width:.9375em}.svg-inline--fa.fa-w-16{width:1em}.svg-inline--fa.fa-w-17{width:1.0625em}.svg-inline--fa.fa-w-18{width:1.125em}.svg-inline--fa.fa-w-19{width:1.1875em}.svg-inline--fa.fa-w-20{width:1.25em}.svg-inline--fa.fa-pull-left{margin-right:.3em;width:auto}.svg-inline--fa.fa-pull-right{margin-left:.3em;width:auto}.svg-inline--fa.fa-border{height:1.5em}.svg-inline--fa.fa-li{width:2em}.svg-inline--fa.fa-fw{width:1.25em}.fa-layers svg.svg-inline--fa{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}.fa-layers{display:inline-block;height:1em;position:relative;text-align:center;vertical-align:-.125em;width:1em}.fa-layers svg.svg-inline--fa{-webkit-transform-origin:center center;transform-origin:center center}.fa-layers-counter,.fa-layers-text{display:inline-block;position:absolute;text-align:center}.fa-layers-text{left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transform-origin:center center;transform-origin:center center}.fa-layers-counter{background-color:#ff253a;border-radius:1em;-webkit-box-sizing:border-box;box-sizing:border-box;color:#fff;height:1.5em;line-height:1;max-width:5em;min-width:1.5em;overflow:hidden;padding:.25em;right:0;text-overflow:ellipsis;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top right;transform-origin:top right}.fa-layers-bottom-right{bottom:0;right:0;top:auto;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:bottom right;transform-origin:bottom right}.fa-layers-bottom-left{bottom:0;left:0;right:auto;top:auto;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:bottom left;transform-origin:bottom left}.fa-layers-top-right{right:0;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top right;transform-origin:top right}.fa-layers-top-left{left:0;right:auto;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top left;transform-origin:top left}.fa-lg{font-size:1.33333em;line-height:.75em;vertical-align:-.0667em}.fa-xs{font-size:.75em}.fa-sm{font-size:.875em}.fa-1x{font-size:1em}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-6x{font-size:6em}.fa-7x{font-size:7em}.fa-8x{font-size:8em}.fa-9x{font-size:9em}.fa-10x{font-size:10em}.fa-fw{text-align:center;width:1.25em}.fa-ul{list-style-type:none;margin-left:2.5em;padding-left:0}.fa-ul>li{position:relative}.fa-li{left:-2em;position:absolute;text-align:center;width:2em;line-height:inherit}.fa-border{border:solid .08em #eee;border-radius:.1em;padding:.2em .25em .15em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left,.fab.fa-pull-left,.fal.fa-pull-left,.far.fa-pull-left,.fas.fa-pull-left{margin-right:.3em}.fa.fa-pull-right,.fab.fa-pull-right,.fal.fa-pull-right,.far.fa-pull-right,.fas.fa-pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fa-rotate-90{-webkit-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-webkit-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-webkit-transform:scale(-1,1);transform:scale(-1,1)}.fa-flip-vertical{-webkit-transform:scale(1,-1);transform:scale(1,-1)}.fa-flip-horizontal.fa-flip-vertical{-webkit-transform:scale(-1,-1);transform:scale(-1,-1)}:root .fa-flip-horizontal,:root .fa-flip-vertical,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-rotate-90{-webkit-filter:none;filter:none}.fa-stack{display:inline-block;height:2em;position:relative;width:2em}.fa-stack-1x,.fa-stack-2x{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}.svg-inline--fa.fa-stack-1x{height:1em;width:1em}.svg-inline--fa.fa-stack-2x{height:2em;width:2em}.fa-inverse{color:#fff}.sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.sr-only-focusable:active,.sr-only-focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}</style><style type="text/css">[uib-typeahead-popup].dropdown-menu{display:block;}</style><style type="text/css">.uib-time input{width:50px;}</style><style type="text/css">[uib-tooltip-popup].tooltip.top-left > .tooltip-arrow,[uib-tooltip-popup].tooltip.top-right > .tooltip-arrow,[uib-tooltip-popup].tooltip.bottom-left > .tooltip-arrow,[uib-tooltip-popup].tooltip.bottom-right > .tooltip-arrow,[uib-tooltip-popup].tooltip.left-top > .tooltip-arrow,[uib-tooltip-popup].tooltip.left-bottom > .tooltip-arrow,[uib-tooltip-popup].tooltip.right-top > .tooltip-arrow,[uib-tooltip-popup].tooltip.right-bottom > .tooltip-arrow,[uib-tooltip-html-popup].tooltip.top-left > .tooltip-arrow,[uib-tooltip-html-popup].tooltip.top-right > .tooltip-arrow,[uib-tooltip-html-popup].tooltip.bottom-left > .tooltip-arrow,[uib-tooltip-html-popup].tooltip.bottom-right > .tooltip-arrow,[uib-tooltip-html-popup].tooltip.left-top > .tooltip-arrow,[uib-tooltip-html-popup].tooltip.left-bottom > .tooltip-arrow,[uib-tooltip-html-popup].tooltip.right-top > .tooltip-arrow,[uib-tooltip-html-popup].tooltip.right-bottom > .tooltip-arrow,[uib-tooltip-template-popup].tooltip.top-left > .tooltip-arrow,[uib-tooltip-template-popup].tooltip.top-right > .tooltip-arrow,[uib-tooltip-template-popup].tooltip.bottom-left > .tooltip-arrow,[uib-tooltip-template-popup].tooltip.bottom-right > .tooltip-arrow,[uib-tooltip-template-popup].tooltip.left-top > .tooltip-arrow,[uib-tooltip-template-popup].tooltip.left-bottom > .tooltip-arrow,[uib-tooltip-template-popup].tooltip.right-top > .tooltip-arrow,[uib-tooltip-template-popup].tooltip.right-bottom > .tooltip-arrow,[uib-popover-popup].popover.top-left > .arrow,[uib-popover-popup].popover.top-right > .arrow,[uib-popover-popup].popover.bottom-left > .arrow,[uib-popover-popup].popover.bottom-right > .arrow,[uib-popover-popup].popover.left-top > .arrow,[uib-popover-popup].popover.left-bottom > .arrow,[uib-popover-popup].popover.right-top > .arrow,[uib-popover-popup].popover.right-bottom > .arrow,[uib-popover-html-popup].popover.top-left > .arrow,[uib-popover-html-popup].popover.top-right > .arrow,[uib-popover-html-popup].popover.bottom-left > .arrow,[uib-popover-html-popup].popover.bottom-right > .arrow,[uib-popover-html-popup].popover.left-top > .arrow,[uib-popover-html-popup].popover.left-bottom > .arrow,[uib-popover-html-popup].popover.right-top > .arrow,[uib-popover-html-popup].popover.right-bottom > .arrow,[uib-popover-template-popup].popover.top-left > .arrow,[uib-popover-template-popup].popover.top-right > .arrow,[uib-popover-template-popup].popover.bottom-left > .arrow,[uib-popover-template-popup].popover.bottom-right > .arrow,[uib-popover-template-popup].popover.left-top > .arrow,[uib-popover-template-popup].popover.left-bottom > .arrow,[uib-popover-template-popup].popover.right-top > .arrow,[uib-popover-template-popup].popover.right-bottom > .arrow{top:auto;bottom:auto;left:auto;right:auto;margin:0;}[uib-popover-popup].popover,[uib-popover-html-popup].popover,[uib-popover-template-popup].popover{display:block !important;}</style><style type="text/css">.uib-datepicker-popup.dropdown-menu{display:block;float:none;margin:0;}.uib-button-bar{padding:10px 9px 2px;}</style><style type="text/css">.uib-position-measure{display:block !important;visibility:hidden !important;position:absolute !important;top:-9999px !important;left:-9999px !important;}.uib-position-scrollbar-measure{position:absolute !important;top:-9999px !important;width:50px !important;height:50px !important;overflow:scroll !important;}.uib-position-body-scrollbar-measure{overflow:scroll !important;}</style><style type="text/css">.uib-datepicker .uib-title{width:100%;}.uib-day button,.uib-month button,.uib-year button{min-width:100%;}.uib-left,.uib-right{width:100%}</style><style type="text/css">.ng-animate.item:not(.left):not(.right){-webkit-transition:0s ease-in-out left;transition:0s ease-in-out left}</style><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="NC Tech | Portal Endomarketing">
	<meta name="author" content="">

	<title>NC Tech | Portal Endomarketing</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">


	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/4.0.0-alpha.1/js/bootstrap-switch.js"></script>
	<script defer="" src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

	<style id="svelte-1eldsjg-style">body > .ui-pnotify{position:fixed;z-index:100040}body > .ui-pnotify.ui-pnotify-modal{z-index:100042}.ui-pnotify{position:absolute;height:auto;z-index:1;display:none}.ui-pnotify.ui-pnotify-modal{z-index:3}.ui-pnotify.ui-pnotify-in{display:block}.ui-pnotify.ui-pnotify-initial-hidden{display:block;visibility:hidden}.ui-pnotify.ui-pnotify-move{transition:left .5s ease, top .5s ease, right .5s ease, bottom .5s ease}.ui-pnotify.ui-pnotify-fade-slow{transition:opacity .4s linear;opacity:0}.ui-pnotify.ui-pnotify-fade-slow.ui-pnotify.ui-pnotify-move{transition:opacity .4s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease}.ui-pnotify.ui-pnotify-fade-normal{transition:opacity .25s linear;opacity:0}.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move{transition:opacity .25s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease}.ui-pnotify.ui-pnotify-fade-fast{transition:opacity .1s linear;opacity:0}.ui-pnotify.ui-pnotify-fade-fast.ui-pnotify.ui-pnotify-move{transition:opacity .1s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease}.ui-pnotify.ui-pnotify-fade-in{opacity:1}.ui-pnotify .ui-pnotify-shadow{-webkit-box-shadow:0px 6px 28px 0px rgba(0,0,0,0.1);-moz-box-shadow:0px 6px 28px 0px rgba(0,0,0,0.1);box-shadow:0px 6px 28px 0px rgba(0,0,0,0.1)}.ui-pnotify-container{background-position:0 0;padding:.8em;height:100%;margin:0}.ui-pnotify-container:after{content:" ";visibility:hidden;display:block;height:0;clear:both}.ui-pnotify-container.ui-pnotify-sharp{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.ui-pnotify-title{display:block;white-space:pre-line;margin-bottom:.4em;margin-top:0}.ui-pnotify.ui-pnotify-with-icon .ui-pnotify-title,.ui-pnotify.ui-pnotify-with-icon .ui-pnotify-text{margin-left:24px}[dir=rtl] .ui-pnotify.ui-pnotify-with-icon .ui-pnotify-title,[dir=rtl] .ui-pnotify.ui-pnotify-with-icon .ui-pnotify-text{margin-right:24px;margin-left:0}.ui-pnotify-title-bs4{font-size:1.2rem}.ui-pnotify-text{display:block;white-space:pre-line}.ui-pnotify-icon,.ui-pnotify-icon span{display:block;float:left}[dir=rtl] .ui-pnotify-icon,[dir=rtl] .ui-pnotify-icon span{float:right}.ui-pnotify-icon-bs3 > span{position:relative;top:2px}.ui-pnotify-icon-bs4 > span{position:relative;top:4px}.ui-pnotify-modal-overlay{background-color:rgba(0, 0, 0, .4);top:0;left:0;position:absolute;height:100%;width:100%;z-index:2}body > .ui-pnotify-modal-overlay{position:fixed;z-index:100041}
  </style>
	<style>
	#addMinuta{
		margin-right: 0%;
	}
  .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
	</style>
</head>
<body class="page-body">
	<!-- uiView: --><div class="page-container ng-scope" ui-view="" style=""><div class="main-content ng-scope">
	<!-- ngIf: showHeader --><site-header ng-if="showHeader" class="ng-scope"><div id="cabecerasitio" class="color-blanco">
	<div class="clearfix">
		<span class="float-left">
			<div id="log-int">
<img src="https://firebasestorage.googleapis.com/v0/b/intranet-10d95.appspot.com/o/assets%2Flogo-cabecera.png?alt=media&token=2d197f6d-6d72-495f-b820-8816ad1c277b" onClick="javascript:redirecciona('/')" style="cursor:pointer;">

			</div>
		</span>
		<span class="float-right">
			<div id="sett" class="ng-binding">
				<svg class="svg-inline--fa fa-user fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 0c88.366 0 160 71.634 160 160s-71.634 160-160 160S96 248.366 96 160 167.634 0 256 0zm183.283 333.821l-71.313-17.828c-74.923 53.89-165.738 41.864-223.94 0l-71.313 17.828C29.981 344.505 0 382.903 0 426.955V464c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48v-37.045c0-44.052-29.981-82.45-72.717-93.134z"></path></svg><!-- <i class="fas fa-user"></i> -->  Hola! <span id="usuario"></span> |
				<div class="dropdown" style="float: right;">
				  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: transparent; color: #fff; border: none; outline: none; cursor: pointer;">
					<svg class="svg-inline--fa fa-cog fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="cog" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M444.788 291.1l42.616 24.599c4.867 2.809 7.126 8.618 5.459 13.985-11.07 35.642-29.97 67.842-54.689 94.586a12.016 12.016 0 0 1-14.832 2.254l-42.584-24.595a191.577 191.577 0 0 1-60.759 35.13v49.182a12.01 12.01 0 0 1-9.377 11.718c-34.956 7.85-72.499 8.256-109.219.007-5.49-1.233-9.403-6.096-9.403-11.723v-49.184a191.555 191.555 0 0 1-60.759-35.13l-42.584 24.595a12.016 12.016 0 0 1-14.832-2.254c-24.718-26.744-43.619-58.944-54.689-94.586-1.667-5.366.592-11.175 5.459-13.985L67.212 291.1a193.48 193.48 0 0 1 0-70.199l-42.616-24.599c-4.867-2.809-7.126-8.618-5.459-13.985 11.07-35.642 29.97-67.842 54.689-94.586a12.016 12.016 0 0 1 14.832-2.254l42.584 24.595a191.577 191.577 0 0 1 60.759-35.13V25.759a12.01 12.01 0 0 1 9.377-11.718c34.956-7.85 72.499-8.256 109.219-.007 5.49 1.233 9.403 6.096 9.403 11.723v49.184a191.555 191.555 0 0 1 60.759 35.13l42.584-24.595a12.016 12.016 0 0 1 14.832 2.254c24.718 26.744 43.619 58.944 54.689 94.586 1.667 5.366-.592 11.175-5.459 13.985L444.788 220.9a193.485 193.485 0 0 1 0 70.2zM336 256c0-44.112-35.888-80-80-80s-80 35.888-80 80 35.888 80 80 80 80-35.888 80-80z"></path></svg><!-- <i class="fas fa-cog"></i> -->
				  </button>
				  <div class="dropdown-menu sub-head" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="javascript:void(0)">Mi Perfil</a>
					<a class="dropdown-item" href="javascript:void(0)" ng-click="goToPath('/app/usuarios')">Usuarios</a>
					<a class="dropdown-item" href="javascript:void(0)" ng-click="goToPath('/app/roles')">Roles</a>
					<a class="dropdown-item" href="javascript:void(0)" ng-click="logoutSystem()">Salir</a>
				  </div>
				</div>
				<div class="dropdown" style="float: right; position:relative">
				  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: transparent; color: #fff; border: none; outline: none; cursor: pointer;">
					<svg class="svg-inline--fa fa-bell fa-w-14" aria-hidden="true" data-prefix="fa" data-icon="bell" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M433.884 366.059C411.634 343.809 384 316.118 384 208c0-79.394-57.831-145.269-133.663-157.83A31.845 31.845 0 0 0 256 32c0-17.673-14.327-32-32-32s-32 14.327-32 32c0 6.75 2.095 13.008 5.663 18.17C121.831 62.731 64 128.606 64 208c0 108.118-27.643 135.809-49.893 158.059C-16.042 396.208 5.325 448 48.048 448H160c0 35.346 28.654 64 64 64s64-28.654 64-64h111.943c42.638 0 64.151-51.731 33.941-81.941zM224 472a8 8 0 0 1 0 16c-22.056 0-40-17.944-40-40h16c0 13.234 10.766 24 24 24z"></path></svg><!-- <i class="fa fa-bell"></i> -->
				  </button>
				  <button class="btn btn-sm btn-danger ng-binding" style="position:absolute; border-radius:15px;top:-10px; right:-10px; padding: 0px 4px;">0</button>
				  <div class="dropdown-menu sub-head" aria-labelledby="dropdownNotificationButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(15px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
					<!-- ngRepeat: notificacion in notificaciones -->
				  </div>
				</div>
			</div>
		</span>
	</div>
</div></site-header><!-- end ngIf: showHeader -->

	<!-- uiView: --><ui-view class="main-content-view ng-scope" style=""><div id="gral" class="cont-gral ng-scope">
	<div class="soy90">
		<div class="row">
			<div class="col-md-2 text-center">
				<img class="img100 icono-int" src="https://firebasestorage.googleapis.com/v0/b/intranet-10d95.appspot.com/o/assets%2Ficono03.png?alt=media&token=3ce3c4aa-7213-49d8-abc0-1572cdb8c5b9">
				<div class="col-md-2 color-blanco text-center">
					<h4>HERRAMIENTAS</h4>
					<div class="lineadw linea-verde linea-int"></div>
					<div id="sub-izq" class="row">
						<div class="" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Galeria NC Tech</button>
							<button class="dropdown-item" type="button">Chat de negocios</button>
							<button class="dropdown-item menu-activo" type="button"onClick="javascript:redirecciona(/documentos)">Documentos</button>
							<button class="dropdown-item" type="button">Newsletter</button>
							<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&amp;service=mail&amp;sacu=1&amp;rip=1&amp;flowName=GlifWebSignIn&amp;flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
						</div>
					</div><!--subizq-->
				</div>
			</div>
			<div class="col-md-10 text-center color-blanco">
				<div class="row">
					<div class="col-md-4 text-left">
						<button class="btn btn-xs btn-default color-blanco btn-atras" style="background-color: transparent;" onClick="javascript:redirecciona('/documentos');"><svg class="svg-inline--fa fa-arrow-alt-circle-left fa-w-16 fa-2x color-blanco" aria-hidden="true" data-prefix="fa" data-icon="arrow-alt-circle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zm116-292H256v-70.9c0-10.7-13-16.1-20.5-8.5L121.2 247.5c-4.7 4.7-4.7 12.2 0 16.9l114.3 114.9c7.6 7.6 20.5 2.2 20.5-8.5V300h116c6.6 0 12-5.4 12-12v-64c0-6.6-5.4-12-12-12z"></path></svg><!-- <i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i> --></button>
					</div>
					<div class="col-md-4 text-center"><h3>USUARIOS</h3></div>
					<div class="col-md-4"></div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-12">
              <div id="link"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
              <div id="minutas"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Modal Versionamiento de Minuta-->

<div class="modal ng-scope" tabindex="-1" role="dialog" id="modal-versionMinuta">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-sm-12 text-center">
					<h3 class="modal-title ng-binding" id="modal-title">Versiones Check List </h3>
				</div>
			</div>
			<div class="modal-body" id="modal-body">
				<div class="row">
					<div class="col-sm-12">

						<div id="versiones"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" class="btn btn-default" data-dismiss="modal">CERRAR</button>
			</div>
		</div>
	</div>
</div>
</ui-view>

	<!-- ngIf: showFooter --><site-footer ng-if="showFooter" class="ng-scope"><div id="pie-sitio">
	<div class="clearfix">
		<div class="float-right color-blanco">Copyright © 2018 NC Tech. All Rights Reserved.</div>
	</div>
</div></site-footer><!-- end ngIf: showFooter -->
</div></div>

	<!-- Remove this code if you want to disable Loading Overlay in the beginning of document loading -->
	<div class="page-loading-overlay loaded">
		<div class="loader-2"></div>
	</div>

</body></html>

<script>



firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
            $("#usuario").text(user.displayName);
            console.log(user);
        } else {
          window.location.href = "/login"
        }
      });
</script>
<script type="text/jsx">

class Minutas extends React.Component{
	constructor(props) {
			 super(props);
			 this.state = {
				 data:[],
				 text: '',
				 limitar: ''
			 }
			 this.buscar = this.buscar.bind(this);
			 this.limitar = this.limitar.bind(this);
	}
	componentWillMount() {
		firebase.auth().onAuthStateChanged( firebaseUser => {
				if(firebaseUser) {
				var database = firebase.database();
				var user    = firebaseUser.uid;
				var ref = database.ref("usuarios");
						ref.on('child_added', snap => {
						const newReceta = {
								id: snap.key,
								data: snap.val(),
						};
						var newArr = this.state.data;
								newArr.push(newReceta);
								this.setState({
										 data: this.state.data, arr:newArr
								});
						});
						}
					});
					if (!$.cookie("versionId")){
						$.cookie("versionId", 0)
					}else{

					}


			}
			ordenar(campo){
				this.setState({
						 data: []
				});
				firebase.auth().onAuthStateChanged( firebaseUser => {
						if(firebaseUser) {
						var database = firebase.database();
						var user    = firebaseUser.uid;
						var ref = database.ref("checklist");
								ref.orderByChild(campo).on('child_added', snap => {
								const newReceta = {
										id: snap.key,
										data: snap.val(),
								};
								if (newReceta.data.tipo === "ultima"){
									var newArr = this.state.data;
											newArr.push(newReceta);
											this.setState({
													 data: this.state.data, arr:newArr
											});
								}


								});
								}
							});
			}
			buscar(e){
        this.setState({ text: e.target.value });
				this.setState({
						 data: []
				});
				firebase.auth().onAuthStateChanged( firebaseUser => {
						if(firebaseUser) {
						var database = firebase.database();
						var user    = firebaseUser.uid;
						var ref = database.ref("checklist");
								ref.orderByChild("nombreChecklist").startAt(this.state.text).endAt("\uf8ff" +this.state.text).on('child_added', snap => {
								const newReceta = {
										id: snap.key,
										data: snap.val(),
								};
								if (newReceta.data.tipo === "ultima"){
								var newArr = this.state.data;
										newArr.push(newReceta);
										this.setState({
												 data: this.state.data, arr:newArr
										});
									}
								});
								}
					});

			}
		limitar(e){
			this.setState({ limitar: e.target.value });
			console.log(this.state.limitar);
			this.setState({
					 data: []
			});
			firebase.auth().onAuthStateChanged( firebaseUser => {
					if(firebaseUser) {
					var database = firebase.database();
					var user    = firebaseUser.uid;
					var ref = database.ref("document_checklist");
							ref.orderByChild("nombreChecklist").limitToFirst(10).on('child_added', snap => {
							const newReceta = {
									id: snap.key,
									data: snap.val(),
							};
							var newArr = this.state.data;
									newArr.push(newReceta);
									this.setState({
											 data: this.state.data, arr:newArr
									});

							});
							}
						});
		}
		pasarId(id){
			modal(id)
		}
    disabled(id){
			disabledUser(id)
		}
	render() {
		var ordenar = this.ordenar.bind(this)
		var buscar = this.buscar.bind(this)
		var limitar = this.limitar.bind(this)
		var pasar = this.pasarId.bind(this)
    var disabled = this.disabled.bind(this)
		var arr = this.state.data

			var options = arr.map(function(object, i){
				var url = "editar/usuarios?id=" + object.id
				var url_ver = "ver/usuarios?id=" + object.id
				return  <tr>
                  <td className="ng-scope gris2 even" role="row">
                  <img src={object.data.foto} className="avatar"/>
                  </td>
									<td className="ng-scope gris2 even" role="row">
									{object.data.nombre}
									</td>
									<td className="ng-scope gris2 even" role="row">
									{object.data.telefono}
									</td>
									<td  className="ng-scope gris2 even" role="row">
									{object.data.correo}
									</td>
									<td  className="ng-scope gris2 even" role="row">
									{object.data.puesto}
									</td>
									<td  className="ng-scope gris2 even" role="row">
									{object.data.rol}
									</td>
									<td  className="ng-scope gris2 even" role="row">
									{object.data.ultimaSesion}
									</td>
                  <td  className="ng-scope gris2 even" role="row">
									{object.data.estatus}
									</td>
						<td  className="ng-scope gris2 even" role="row">
							<a href="#" className="btn btn-sm btn-warning ng-scope" onClick={()=>disabled(object.id)} >
								<svg className="svg-inline--fa fa-ban fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="ban" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119.034 8 8 119.033 8 256s111.034 248 248 248 248-111.034 248-248S392.967 8 256 8zm130.108 117.892c65.448 65.448 70 165.481 20.677 235.637L150.47 105.216c70.204-49.356 170.226-44.735 235.638 20.676zM125.892 386.108c-65.448-65.448-70-165.481-20.677-235.637L361.53 406.784c-70.203 49.356-170.226 44.736-235.638-20.676z"></path></svg>
							</a>
							<a href={url} className="btn btn-sm btn-primary ng-scope">
							<svg className="svg-inline--fa fa-edit fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
								<path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z">
								</path>
							</svg>
							</a>

						</td>
					</tr>
			})
			return (
					<table id="example" className="table table-striped table-bordered" style={{width:"100%"}}>
						<thead className="ng-scope">
							<tr role="row">
                <th>Avatar</th>
								<th>Nombre</th>
								<th>Telefono</th>
								<th>Correo</th>
								<th>Puesto</th>
                <th>Rol</th>
								<th>Fecha última Sesión</th>
								<th>Estado</th>
                <th></th>
							</tr>
						</thead>
						<tbody className="ng-scope">
						 {options}
						</tbody>
					</table>

			)
		}
}

ReactDOM.render(
	<Minutas  />,
	document.getElementById('minutas')
);
function modal(id){
	class Versiones extends React.Component{
		constructor(props) {
				 super(props);
				 this.state = {
					 versiones:[],
					 text: '',
					 limitar: ''
				 }

		}
		componentDidMount() {


				firebase.auth().onAuthStateChanged( firebaseUser => {
						if(firebaseUser) {
						var database = firebase.database();
						var user    = firebaseUser.uid;
						var version = id
						var posicion = version.indexOf("_");
						var minutanumero = version.substring(0,posicion);

						 var ref = database.ref("documentoschecklist");
								ref.orderByChild("checkid").startAt(minutanumero).endAt(version + "\uf8ff").on('child_added', snap => {

								const newReceta = {
										id: snap.key,
										data: snap.val(),
								};
								console.log(newReceta);
								var newArr = this.state.versiones;
										newArr.push(newReceta);
										this.setState({
												 versiones: this.state.versiones, arr:newArr
										});
								});
								}
							});
		}

		render() {

			var arr = this.state.versiones

				var options = arr.map(function(object, i){
					var url = "editar/checklist?id=" + object.id
					var url_ver = "ver/checklist?id=" + object.id
					return  <tr>
										<td  className="ng-scope gris2 even" role="row">
										{object.data.nombreChecklist}
										</td>
										<td  className="ng-scope gris2 even" role="row">
										{object.data.responsableChecklist}
										</td>
										<td  className="ng-scope gris2 even" role="row">
										{object.data.terminoChecklist}
										</td>
										<td  className="ng-scope gris2 even" role="row">
										{i + 1}
										</td>
										<td  className="ng-scope gris2 even" role="row">
										{object.data.fechaModificacion}
									</td>
									<td  className="ng-scope gris2 even" role="row">
									<a href={url_ver} className="btn btn-sm btn-info ng-scope">
										<svg className="svg-inline--fa fa-file-pdf fa-w-12" aria-hidden="true" data-prefix="fa" data-icon="file-pdf" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg="">
										<path fill="currentColor" d="M181.9 256.1c-5-16-4.9-46.9-2-46.9 8.4 0 7.6 36.9 2 46.9zm-1.7 47.2c-7.7 20.2-17.3 43.3-28.4 62.7 18.3-7 39-17.2 62.9-21.9-12.7-9.6-24.9-23.4-34.5-40.8zM86.1 428.1c0 .8 13.2-5.4 34.9-40.2-6.7 6.3-29.1 24.5-34.9 40.2zM248 160h136v328c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V24C0 10.7 10.7 0 24 0h200v136c0 13.2 10.8 24 24 24zm-8 171.8c-20-12.2-33.3-29-42.7-53.8 4.5-18.5 11.6-46.6 6.2-64.2-4.7-29.4-42.4-26.5-47.8-6.8-5 18.3-.4 44.1 8.1 77-11.6 27.6-28.7 64.6-40.8 85.8-.1 0-.1.1-.2.1-27.1 13.9-73.6 44.5-54.5 68 5.6 6.9 16 10 21.5 10 17.9 0 35.7-18 61.1-61.8 25.8-8.5 54.1-19.1 79-23.2 21.7 11.8 47.1 19.5 64 19.5 29.2 0 31.2-32 19.7-43.4-13.9-13.6-54.3-9.7-73.6-7.2zM377 105L279 7c-4.5-4.5-10.6-7-17-7h-6v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-74.1 255.3c4.1-2.7-2.5-11.9-42.8-9 37.1 15.8 42.8 9 42.8 9z">
										</path>
										</svg>
									</a>
								</td>

						</tr>
				})
				return (

					<table className="table table-striped">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Responsable</th>
								<th>Termino</th>
								<th>Versión</th>
								<th>Fecha de Modificación</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{options}
						</tbody>
					</table>


				)
			}
	}

	ReactDOM.render(
		<Versiones  />,
		document.getElementById('versiones')
	);
}


function redirecciona(url){
	window.location.href = url
}

setTimeout(function(){
	$('#example').DataTable({
		"language":
			{
	"sProcessing":     "Procesando...",
	"sLengthMenu":     "Mostrar _MENU_ registros",
	"sZeroRecords":    "No se encontraron resultados",
	"sEmptyTable":     "Ningún dato disponible en esta tabla",
	"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
	"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
	"sInfoPostFix":    "",
	"sSearch":         "Buscar:",
	"sUrl":            "",
	"sInfoThousands":  ",",
	"sLoadingRecords": "Cargando...",
	"oPaginate": {
		"sFirst":    "Primero",
		"sLast":     "Último",
		"sNext":     "Siguiente",
		"sPrevious": "Anterior"
	},
	"oAria": {
		"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
		"sSortDescending": ": Activar para ordenar la columna de manera descendente"
	}
}

	});
},2000)


function disabledUser(id){
      firebase.auth().onAuthStateChanged( firebaseUser => {
          if(firebaseUser) {
                        var userName    = firebaseUser.displayName;
                        var user    = firebaseUser.uid;
                        var database = firebase.database();
                              var objeto1 = {
                                   estatus: "Inactivo",
                                   fechaModificacion: moment().format('LL')
                              }
     												var ref = database.ref("usuarios").child(id);
     												ref.update(objeto1)
 													  window.location.href = "/usuarios"
                  }
              });

}

</script>
